@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&display=swap');

/*Обнуление*/
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-------------------------------------------------------------------------------------*/

/*Main*/

body {
    background-color: #2b2b2b;
    height: auto;
}

.container {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center
}

.wrapper{
    max-width: 1180px;
    margin: 0px auto;
}

/*Logo*/

.logo {
    display: flex;
    align-items: center;
    width: 1180px;
    margin-top: 50px;
    padding-bottom: 20px;;
}

.logo__container {
    width: auto;
    text-align: center;
    position: relative;
}

.logo__line {
    height: 1px;
    width: 100%;
    background-color: #b69b67;
}

.logo__title {
    color:#b69b67;
    font-size: 40px;
    font-family: 'Albert Sans', sans-serif;
}

.logo__subtitle {
    margin-top: 8px;
    color: #b4b4b4;
    font-size: 20px;
    position: relative;
    left: 135px;
    font-family: 'Ubuntu', sans-serif;
}

.logo__subtitle:hover{
    color:aliceblue;
    transition: 0.4s
}

/*Greetings*/


.greetings {
    height: 700px;
    width: 1180px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetings__burger {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 16px 9px 16px 10px;
    border-color: #b69b67;
    border-style: solid;
    border-width: 1px;
}

.greetings__burger:hover {
    background-color: #b69b67;
    transition: 0.4s;
}

.greetings__burger:hover img{
    filter:brightness(10%);
    transition: 0.4s;

}

.greetings__questionmarklol {
    text-align: center;
    margin: 0 0 30px 0;
}

.greetings__title {
    width: 100%;
    font-size: 45px;
    background: linear-gradient(90deg, #454545 0%, #b69b67 50%, #454545 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-family: 'Ubuntu', sans-serif;
}

.greetings__more {
    color:#454545;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    font-size: 25px; 
}

.greetings__more:hover{
    background-color:#96969670;
    color: rgb(185, 185, 185);
    transition: 0.4s;
}

.greetings__more:hover img {
    filter:invert(100%);
    transition: 0.4s;
}

.greetings__more img {
    margin-top: 10px;
}

/*Services*/

.services {
    height: 700px;
    width: 1180px;
    position: relative;
}

.services__logo {
    height: 100px;
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: #b4b4b4;
    font-family: 'Albert Sans', sans-serif;
}
.services__container {
    display: flex;
}
.services__nav {
    width: 380px;
    margin-left: 20px;
}

.services__line {
    height: 1px;
    width:282px;
    background-color: #b69b67;
    margin: 0 0 5px 0;
}
.services__title {
    width: 100%;
    font-size: 50px;
    color: #b69b67;
    font-family: 'Ubuntu', sans-serif;
}
.services__list {
    font-size:30px;
    color: #b4b4b4;
    font-family: 'Ubuntu', sans-serif;
    line-height: 80px;
}

.services__list li:hover {
    color: aliceblue;
    transition: 0.3s;
}

.services__text {
    height: auto;
    color: #b4b4b4;
    font-family: 'Ubuntu', sans-serif;
    width: 450px;
    font-size: 18px;
}

.services__text a {
    color: #b69b67;
}

.services__text a:hover {
    color: #b69b67;
    text-decoration-line: underline;
    transition: 0.4s;
}
.services__image img {
    position: absolute;
    right: 65px;
    bottom: 100px;
}

/*Portfolio*/



/* Info */

.info {
    width: 1180px;
    height: 660px;
    padding: 0 10px 0 0;
}

.info-flex {
    display: flex;
    justify-content: space-between;
}

.feedbacks {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.feedbacks__title {
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-family: 'Albert Sans', sans-serif;
    color: #b4b4b4;
}
.feedbacks__container { 
    margin: 30px 0 0 0;
    
}
.feedbacks__form {
    height: 175px;
    font-family: 'Ubuntu', sans-serif;
}
.feedbacks__block {
    display: flex;
    font-size: 25px;
    color: #b4b4b4;
    width: 600px;
    align-items: center;
}
.block__text {
    margin: 0 0 0 10px;
}

.block__text:hover{
    color:aliceblue;
    transition: 0.4s;
}
.feedbacks__subtitle {
    margin: 20px 0 0 0;
    width: 600px;
}
.feedbacks__line {
    background-color: #b69b67;
    height: 1px;
}
.feedbacks__name {
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 30px;
    color: #b69b67;
}
.feedbacks__clickmore {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 30px 0 0 0;
}

.feedbacks__clickmore a {
    color:#b4b4b4;
}
.feedbacks__clickmore:visited {
    color:#b4b4b4;
}

.feedbacks__clickmore a:hover {
    color:aliceblue;
    transition: 0.4s;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color:#b4b4b4;
}
.form__title {
    font-size: 45px;
    margin: 0 0 30px 0;

}

#form-email,
#form-message,
#form-name {
    width: 400px;
    margin: 0 0 20px 0;
    height: 50px;
    background-color: #2b2b2b;
    border: solid;
    border-width: 1px;
    border-color: #b4b4b4;
    padding-left: 10px;
    font-size: 20px;
    color:#454545;
    opacity: 50%;
}

#form-message {
    height: 200px;
    
}

#form-message::-webkit-input-placeholder {
    position: absolute;
    left: 9px;
    top: 10px;
}

#form__button {
    width: 175px;
    color: #b69b67;
    font-size: 25px;
    height: 50px;
    padding: 10px;
    background-color: #2b2b2b;
    border-style: solid;
    border-color: #b69b67;
    border-width: 1px;
}

#form__button:hover {
    background-color: #b69b67;
    color: #2b2b2b;
    transition: 0.4s;
}


/*Contacts */

.contacts {
    width: 1180px;
    height: 750px;
}

.contacts__title {
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    font-size: 45px;
    color:#b4b4b4;
}

.contacts__container {
    width: auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.contacts__block {
    width: 350px;
    height: 100px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.block__line {
    display: flex;
    justify-content: center;
}

.line {
    background-color: #b69b67;
    height: 1px;
    margin: 0 0 5px 0;
}

.line1 {
    width: 65px;
}

.line2 {
    width: 55px;
}

.line3 {
    width: 70px;
}

.block__title {
    color:#b69b67;
    margin: 0 0 25px 0;
}

.block__about {
    color:#b4b4b4;
}

.block__about:hover {
    color: aliceblue;
    transition: 0.3s
}

.contacts__image {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image__title {
    width: 100%;
    font-size: 45px;
    background: linear-gradient(90deg, #454545 0%, #b69b67 50%, #454545 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-family: 'Ubuntu', sans-serif;
}

/*Footer*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1180px;
}

.footer__nav {
    width: 100%;
    height: 25px;
}


.footer__nav ul {
    width: 1180px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    
}

.footer__nav ul a:hover {
    color:aliceblue;
    transition: 0.5s;
}

.footer__nav a {
    color: #b4b4b4;
}

.footer__nav a:visited {
    color: #b4b4b4;
}



